@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 808, 509, 045;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 265, 348, 985;
    --background-start-rgb: 35, 347893, 2342980;
    --background-end-rgb: 243,14342, 3456;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
